<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 덱 공유하기 수정</title>

    <!-- 부트스트랩 가져오기-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--fontawesome 아이콘 가져오기-->
    <script src="https://kit.fontawesome.com/def97ee41b.js" crossorigin="anonymous"></script>

    <!-- 우리 디자인 -->
    <link rel="stylesheet" href="../../static/css/communityUpdate.css" th:href="@{/css/communityUpdate.css}">

    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script defer th:src="@{/js/calendar.js}"></script>
    <script defer th:src="@{/js/communityUpdate.js}"></script>

</head>
<body>
    <div class="page-wrap">
        <div class="left-wrap">
            <div th:replace="fragment/nav"></div>
        </div>
        <div class="right-wrap">
            <div th:replace="fragment/header :: header('Community')"></div>
            <div class="container">
                <!-- 게시글 쓰기 화면 -->
                <div class="content">
                    <form th:action="@{/community/communityUpdate}" method="POST" enctype="multipart/form-data">
                        <!-- 두 종류의 데이터(boardSeq, boardWriter(writer는 security 완성되면 삭제 예정)) -->
                        <input type="hidden" name="boardId" th:value="${community.boardId}">
                        <!-- <input type="hidden" name="boardWriter" th:value="${community.boardWriter}"> -->
                        <input type="hidden" name="searchItem" th:value="${searchItem}">
                        <input type="hidden" name="searchWord" th:value="${searchWord}">
                        
                        <!-- 기존 첨부파일 정보가 존재할 경우, 서버에서 전달된 값을 채워줍니다. -->
                        <input type="hidden" id="originalFile" name="originalFile" th:value="${community.originalFileName}"/>

                        <table>
                            <tr>
                                <th>덱 제목</th>
                                <td>
                                    <input type="text" name="title" id="title" th:value="${community.title}" required>
                                </td>
                            </tr>
                            <tr>
                                <th>작성자</th>
                                <td>
                                    <!-- 작성자의 이름은 로그인 되면 수정되어야 함~ -->
                                    <span th:text="${community.userName}" readonly></span>
                                </td>
                            </tr>
                            <tr>
                                <th>덱 파일 첨부</th> <!-- 첨부 파일 작성 시 완성-->
                                <td>
                                    <th:block th:if="${community.originalFileName != null}">
                                        <span th:text="${community.originalFileName}" style="color: #2000c2"></span><br>
                                    </th:block>
                                    <th:block th:unless="${community.originalFileName != null}">
                                        <span style="color: #2000c2">첨부파일이 없습니다.</span><br>
                                    </th:block>
                                    <input type="file" name="uploadFile"/>
                                </td>
                            </tr>
                            <tr>
                                <th>덱 설명</th>
                                <td>
                                    <textarea name="boardContent" id="boardContent" th:text="${community.boardContent}"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th>저작권 확인 체크</th>
                                <td>
                                    <p>
                                        <input type="checkbox" name="copyrightCheck" id="copyrightCheck">
                                        "나는 내가 공유하는 모든 자료가 전부 내가 만든 것이며, 여기에 공유되는 자료에 대한 모든 지적재산권리를 내가 보유하고 있음을 선언합니다."
                                    </p>

                                </td>
                            </tr>     
                            <tr>
                                <th colspan="2">
                                    <input type="submit" id="submitBtn" value="덱 수정하기" class="btn btn-primary">
                                    <a th:href="@{/community/communityBoardList(searchItem=${searchItem}, searchWord=${searchWord})}" class="btn btn-success">목록으로 돌아가기</a>&nbsp;
                                </th>
                            </tr>                    
                        </table>
                    </form>
                </div>
            </div> <!-- container end-->            
        </div> <!-- right-wrap end -->
    </div> <!-- page-wrap end-->        
</body>
</html>