<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div th:fragment="header">
        <div class="header-bg">
            <div class="logo">로고</div>
            <div class="title">페이지 제목</div>
            <div class="gnb-wrap">
                <ul class="gnb-list">
                    <li><a href="#void"><i class="fa-solid fa-pencil"></i></a></li>
                    <li><a href="#void"><i class="fa-solid fa-people-group"></i></a></li>
                    <li><a href="#void"><i class="fa-regular fa-comments"></i></a></li>
                    <li><a href="#void"><i class="fa-solid fa-puzzle-piece"></i></a></li>
                    <li><a href="#void"><i class="fa-solid fa-bell"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>