<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div th:fragment="header(title)">
        <div class="header-bg">
            <div class="logo">
                <b>🍡だんごちゃん</b>
            </div>
            <div class="title" th:text="${title}">🍡 だんごちゃん</div>
            <div class="gnb-wrap">
                <ul class="gnb-list">
                <!-- 인증하지 않은 사용자 -->
                <th:block sec:authorize="isAnonymous()">
                        <li><a th:href="@{/home}"><i data-lucide="book-open"></i> 학습하기</a></li>
                        <li><a th:href="@{/community/communityBoardList}"><i data-lucide="users"></i> 커뮤니티</a></li>
                        <li><a th:href="@{/chat}"><i data-lucide="message-circle"></i> 채팅</a></li>
                        <li><a href="#void"><i data-lucide="puzzle"></i> 퍼즐</a></li>
                        <li><a href="#void"><i data-lucide="bell"></i> 알림</a></li>
                </th:block>
                <!-- 인증한 사용자 -->
                <th:block sec:authorize="isAuthenticated()">
                        <li><a th:href="@{/home}"><i data-lucide="book-open"></i> 학습하기</a></li>
                        <li><a th:href="@{/community/communityBoardList}"><i data-lucide="users"></i> 커뮤니티</a></li>
                        <li><a th:href="@{/chat}"><i data-lucide="message-circle"></i> 채팅</a></li>
                        <li><a href="#void"><i data-lucide="puzzle"></i> 퍼즐</a></li>
                        <li><a href="#void"><i data-lucide="bell"></i> 알림</a></li>
                </th:block>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>