<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div th:fragment="header(title)">
        <div class="header-bg">
            <div class="logo">
                <a th:href="@{/home}">
                    <img th:src="@{/images/logo_white_fit.png}" alt="당고짱 로고">
                    <b class="logoName">だんごちゃん</b>
                </a>
            </div>
            <div class="title" th:text="${title}">🍡 だんごちゃん</div>
            <div class="gnb-wrap">
                <ul class="gnb-list">
                <!-- 인증하지 않은 사용자 -->
                <th:block sec:authorize="isAnonymous()">
                        <li><a th:href="@{/home}"><i class="fa-solid fa-pencil"></i></a></li>
                        <li><a th:href="@{/community/communityBoardList}"><i class="fa-solid fa-people-group"></i></a></li>
                        <li><a th:href="@{/chat}"><i class="fa-regular fa-comments"></i></a></li>
                        <li><a th:href="@{/game/matchCard}"><i class="fa-solid fa-puzzle-piece"></i></a></li>
                </th:block>
                <!-- 인증한한 사용자 -->
                <th:block sec:authorize="isAuthenticated()">
                        <li><a th:href="@{/home}"><i class="fa-solid fa-pencil"></i></a></li>
                        <li><a th:href="@{/community/communityBoardList}"><i class="fa-solid fa-people-group"></i></a></li>
                        <li><a th:href="@{/chat}"><i class="fa-regular fa-comments"></i></a></li>
                        <li><a th:href="@{/game/matchCard}"><i class="fa-solid fa-puzzle-piece"></i></a></li>
                </th:block>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>