<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>플래시 카드</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/flashcard.css" th:href="@{/css/flashcard.css}">
    <script src="../../static/js/flashcard.js" th:src="@{/js/flashcard.js}"></script>
</head>

<body>
    <div class="container">
        <div class="timer" id="mainTimer">00:00</div>
        <button class="close" type="button" onclick="goHome()">&#10006;</button>
        <div class="flashcard-wrap">
            <div class="front">
                <input type="text" name="word" value="学生">
            </div>
            <div class="back">
                <input type="text" name="word" id="word" value="学生">
                <input type="text" name="pos" id="pos" value="명사">
                <input type="text" name="meaning" id="meaning" value="학생">
                <input type="text" name="example" id="example" value="学生が学校に行きます">
            </div>
        </div>
        <div class="buttons">
            <button class="cardBtn" type="button">편집</button>
            <div class="frontBtn">
                <button class="answerBtn center" type="button" onclick="showAnswer()">정답 보기</button>
            </div>
            <div class="backBtn">
                <button class="circleBtn" type="button">&#9675;</button>
                <button class="triangleBtn" type="button">&#9651;</button>
                <button class="xBtn" type="button">&#10006;</button>
            </div>
        </div>
        <div class="study-timer" id="studyTimer">00:00</div>
    </div>
</body>

</html>