<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login_join_tmp.css}">
    <title>로그인 페이지</title>
</head>
<body>
	<div th:replace="fragment/head"></div>
    <div class="page-wrap">
        <div class="left-wrap">
            <div class="inner">
                <h2 class="title">
                    <b>だんごちゃん</b>
                </h2>
                <div class="form-wrap">
                    <form th:action="@{/user/loginProc}" method="POST">
                        <ul class="login">
                            <li class="label-line">
                                <label for="email">Email</label>
                            </li>
                            <li class="input-line">
                                <input type="text" name="email" id="email" required>
                            </li>
                            <li class="label">
                                <label for="password">Password</label>
                            </li>
                            <li class="input-line">
                                <input type="password" name="password" id="password">
                            </li>
                            <li>
                                <div class="auth-buttons">
                                    <input type="submit" value="로그인">
                                    <input type="button" value="회원가입" onclick="location.href='/user/join'">
                                </div>
                            </li>
                        </ul>
                    </form>
                    <ul>
                        <li>
                            <button>guest</button>
                        </li>
                    </ul>
                    <ul class="social-login">
                        <li>
                            <button class="google">google</button>
                        </li>
                        <li>
                            <button class="line">line</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-wrap">
            <!-- 해당 부분은 그림 고정보단 여유가 있을 시, 배너로 활용해도 좋을 듯 합니다 -->
                
        </div>
    </div>
</body>
</html>