<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
   <div th:replace="fragment/head"></div>
    <title>마이페이지</title>
    <!-- 페이지별 CSS, JS 적용 -->
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <script defer th:src="@{/js/calendar.js}"></script>
</head>
<body>
<div class="page-wrap">
    <div  class="header" >
        <div th:replace="fragment/header :: header('MY PAGE')"></div>
    </div>
    <div class="container">
        <div class="profile-wrap">
            <input type="hidden" name="userId" id="userId" th:value="${userId}">
            <div class="profile-picture">
                <div id="changePictureBtn" class="changePictureBtn"
                    th:style="|background-image: url('/images/profiles/profile_${user.profileImage}.jpg');|">
                    <div class="overlay-text">프로필 이미지 변경</div>
                </div>
            </div> <!-- profile-picture end -->
            <div class="nickname">
                <p class="userName" id="userName" >
                    [[${#authentication.principal.userName}]]
                </p>
                <i class="fa-regular fa-pen-to-square"></i>
            </div> <!-- nickname end -->
        </div>
        <div class="achievement-wrap">
            <div class="trophy-wrap">
                <div class="trophy">
                    <div class="trophy-img"></div>
                    <div class="trophy-name"></div>
                </div>
            </div>
                <div class="achievement-notice">
                    <h4><b>[[${#authentication.principal.userName}]]</b>님의 최근 달성한 업적</h4>
                <ul class="achievement-list">
                    <li th:each="ach : ${personalAchievements}">
                        <p>🏅 [[${ach}]]</p>
                    </li>
                    <li th:each="ach : ${communityAchievements}">
                        <p>🎉 [[${ach}]]</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="calendar-wrap">
            <div class="calendar-controls">
                <button id="prevMonth" class="calendar-btn"><i class="fa-solid fa-caret-left"></i></button>
                <div id="currentMonth" class="mypage-currentMonth gradient-text"></div>
                <button id="nextMonth" class="calendar-btn"><i class="fa-solid fa-caret-right"></i></button>
            </div>
            <table class="mypage-calendar">
                <thead>
                    <tr>
                        <th>일</th>
                        <th>월</th>
                        <th>화</th>
                        <th>수</th>
                        <th>목</th>
                        <th>금</th>
                        <th>토</th>
                    </tr>
                </thead>
                <tbody id="calendarBody"></tbody>
            </table>
        </div>
    </div>
</div>
<!-- modal -->
<div class="modal-wrap" th:replace="modal"></div>
<!-- modal-wrap end -->

</body>
</html>