<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
   <div th:replace="fragment/head"></div>
    <title>마이페이지</title>
    <script defer th:src="@{/js/calendar.js}"></script>
</head>
<body>
<div class="page-wrap">
    <div  class="header" >
        <div th:replace="fragment/header"></div>
    </div>
    <div class="inner">
        <div class="profile-wrap">
            <div class="profile-picture">
                <a href="#void" id="changePictureBtn" class="changePictureBtn">
                    프로필 사진이 출력됩니다.
                    <!-- <img src="" alt="profile picture" id="profile"> -->
                </a>
            </div> <!-- profile-picture end -->
            <div class="nickname">
                <p class="userName" id="userName">
                    유저 닉네임
                </p>
                <i class="fa-regular fa-pen-to-square"></i>
            </div> <!-- nickname end -->
        </div>
        <div class="achievement-wrap">
            <div class="trophy-wrap">

            </div>
            <div class="achievement-notice">
                <h4><b>userName</b>님의 최근 달성한 업적</h4>
                <ul class="achievement-list">
                    <li>
                        <p>🏅 7일 연속 출석으로 업적 달성!</p>
                    </li>
                    <li>
                        <p>🏅 일일 1,000개 단어 학습 업적 달성!</p>
                    </li>
                    <li>
                        <p>🎉 게임 하이스코어 스코어 홀더!</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="calendar-wrap">
            <div id="currentMonth" class="mypage-currentMonth"></div>
            <table class="mypage-calendar">
                <thead>
                    <tr>
                        <th>일</th>
                        <th>월</th>
                        <th>화</th>
                        <th>수</th>
                        <th>목</th>
                        <th>금</th>
                        <th>토</th>
                    </tr>
                </thead>
                <tbody id="calendarBody"></tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>