<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
   <div th:replace="fragment/head"></div>
    <title>마이페이지</title>
    <script th:src="@{/js/calendar.js}"></script>
</head>
<body>
<div class="page-wrap">
    <div  class="header" >
        <div th:replace="fragment/header"></div>
    </div>
    <div class="inner">
        <div class="profile-wrap"></div>
        <div class="achievement-wrap"></div>
        <div class="calendar-wrap">
            <div id="currentMonth" class="mypage-currentMonth"></div>
            <table class="mypage-calendar">
                <thead>
                    <tr>
                        <th>일</th>
                        <th>월</th>
                        <th>화</th>
                        <th>수</th>
                        <th>목</th>
                        <th>금</th>
                        <th>토</th>
                    </tr>
                </thead>
                <tbody id="calendarBody"></tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>