/* 공통적용 */
/* 여백제거 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* li 장식 제거 */
li {
    list-style: none;
}

/* a 밑줄 제거, 색상 */
a {
    text-decoration: none;
    color: #121511;
}

/* img는 글자와 기본 위치가 달라서 위아래 위치가 다름 */
/* img 설정 별도 지정 */
img,
video {
    vertical-align: middle;
    border: none;
}

/* 제목 숨기기 */
.blind {
    position: absolute;
    top: -99999px;
}

/* iframe */
iframe {
    border: 0;
}

/* 기울기 */
i,
em,
address {
    font-style: normal;
}

/* float을 쓸경우 부모 찾기 */
.clearFix::after {
    content: "";
    display: block;
    clear: both;
}

.inner {
    max-width: 1600px;
    margin: 0 auto;
}

/* 폰트 */
/* import Noto Sans KR, Shippori Mincho B1 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1:wght@400;500;600;700;800&display=swap');

/* 고령딸기체 - 타이틀용 */
@font-face {
    font-family: 'GoryeongStrawberry';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 텍스트에 Noto Sans KR 글꼴 적용 */
body {
    font-family: 'Noto Sans KR', 'Shippori Mincho B1',sans-serif;
    font-size: 16px;
    color: #121511;
    word-break: keep-all;
    max-width: 1920px;
    margin: 0 auto;
}


/* 기본 레이아웃 */
.page-wrap {
    width: 100%;
    display: flex;
}
/* fragment */
/* nav */ 
.nav {
    width: calc(100% / 6);
}

.nav .nav-bg {
    height: 100vh;
    background-color: #FFF;
    border-right: 1px solid #E0E0E0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav .nav-bg{
    padding: 20px 12px;
}
.nav .nav-bg>div {
    margin: 8px 0;
}

.nav .logo {
    margin: 12px 0;
}
.nav .profile-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nav .profile-wrap > .profile-picture {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: #FF9EBE;
    margin: 0 auto;
}
.nav .profile-wrap>.profile-picture>a{
    position: relative;
    width: 100%;
    display: block;
}
.nav .profile-wrap>.profile-picture>a::after{
    content: "";
    display: none;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    filter: blur(3px);
}
.nav .profile-wrap>.profile-picture>a:hover::after {
    display: block;
}
.nav .profile-wrap>.profile-picture>a img {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    overflow: hidden;
}

.nav .profile-wrap > .nickname {
    width: 255px;
    height: auto;
    background-color: #B4D8E4;
    line-height: 1.5;
}

.nav .profile-wrap>.nickname .userName {
    font-size: 1.15em;
    font-weight: 600;
}
/* nav 가 있는 페이지에 header 는 .right-wrap   */
.right-wrap {
    width: 100%;
}

.right-wrap .logo {
    display: none;
}

.right-wrap .title {
    margin-left: 12px;
}

.right-wrap .header-bg {
    width: 100%;
    position: relative;

}

.right-wrap .header-bg>.gnb-wrap {
    position: absolute;
    right: 0;
}

/* statistics */
.statistics-wrap>.statistics-list>li>p {
    font-size: 0.85em;
}
/* 업적 디자인 */
.achievement-notice {
    text-align: center;
}

/* 캘린더 디자인 */
/* 공통 */
.calendar-wrap {
    padding: 0 8px;
}

.nav-currentMonth {
    font-family: "GoryeongStrawberry";
    font-size: 1.08em;
    text-align: center;
    align-items: center;
    margin: 7px 0;
}

.nav-calendar,
.mypage-calendar {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.nav-calendar th,
.nav-calendar td {
    border: 1px solid #FF9EBE;
    padding: 5px;
}


.nav-calendar th,
.mypage-calendar th {
    background-color: #FDF4F1;
}

.nav-calendar th,
.nav-calendar td {
    font-size: 0.85em;
}

/* header */
/* nav 가 없는 페이지에 header 는 .header  */

.header {
    width: 100%;
}
.header-bg{
    width: 100%;
    background-color: #FFF;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.gnb-wrap {
    align-items: center;
}

.gnb-list {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-right: 18px;
    margin-top: 18px;
}
.gnb-list>li>a>i {
    font-size: 1.75em;
    line-height: 1.75;
}
.gnb-list>li>a>i:hover {
    color: #007BFF;
    transition: 0.5s;
}

/* container 영역 */
  .container {
      flex-grow: 1;
    /* 콘텐츠 영역 내에서만 스크롤 */
      overflow-y: auto;
      padding: 20px;
      background-color: #FAFAFA;
  }
