<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div th:fragment="modal" class="modal-wrap">
        <!-- 플러스 버튼 -->
        <div class="modal_adding_menu">
            <div class="adding_menu">
                <div><!-- 카테고리 생성 버튼 -->
                    <label>카테고리
                        <br>
                        <input type="button" class="btn-open-adding-category-modal" value="카테고리 생성">
                    </label>
                </div>
                <br>
                <div> <!-- 덱 생성 버튼 -->
                    <p>덱</p>
                    <input type="button" class="btn-open-adding-deck-modal" value="덱 생성">
                    <input type="button" class="btn-open-importing-deck-modal" value="덱 불러오기">
                    <input id="importFile" type="file" />
                </div>
                <div>
                    <button type="button" class="btn-close-modal">닫기</button>
                </div>
            </div>
        </div>

        <!-- 카테고리 추가 모달 -->
        <div th:fragment="modal_adding_category" class="modal_adding_category">
            <div class="adding_category">
                <!-- 수정부분 -->
                <form th:action="@{/flashcard/insertCategory}" method="POST">
                    <input type="hidden" name="userId" id="userId" th:value="${userId}">
                    <h2>카테고리 추가</h2>
                    <label>카테고리 :
                        <input type="text" name="categoryName" id="categoryName" placeholder="카테고리 이름을 입력해주세요">
                    </label><br>
                    <input type="submit" value="추가">
                    <input type="button" class="btn-close-modal" value="닫기">
                </form>
            </div>
        </div>

        <!-- 카테고리 편집 모달 -->
        <div th:fragment="modal_editing_category" class="modal_editing_category">
            <div class="editing_category">
                <form th:action="@{/flashcard/updateCategory}" method="GET">
                    <h2>카테고리 편집</h2>
                    <!-- html을 처음 불러오면서 모델로 categoryId를 불러와야 함 type="hidden" -->
                    <input type="hidden" name="categoryId" id="categoryId_E1">
                    <label>카테고리 :
                        <input type="text" name="categoryName" id="categoryName_E1">
                    </label><br>
                    <button type="submit">수정</button>
                    <input type="button" class="btn-close-modal" value="닫기">
                </form>
            </div>
        </div>

        <!-- 덱 추가 모달 -->
        <div th:fragment="modal_adding_deck" class="modal_adding_deck">
            <div class="adding_deck">
                <form>
                    <label>덱이름 :
                        <input type="text" name="deckName" id="deckName_A2" placeholder="덱 이름을 입력해주세요">
                    </label>
                    <!-- 수정부분 -->
                    <label>카테고리 :
                        <select name="categoryId" id="categoryId_A2">
                            <option th:each="category : ${categoryList}" th:value="${category.categoryId}"
                                th:text="${category.categoryName}">
                                카테고리 명
                            </option>
                        </select>
                    </label>
                    <div>
                        <table class="card_list">
                            <thead>
                                <tr>
                                    <th>단어</th>
                                    <th>품사</th>
                                    <th>뜻</th>
                                    <th>예문</th>
                                    <th>예문 뜻</th>
                                    <th>삭제</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>단어</td>
                                    <td>품사</td>
                                    <td>뜻</td>
                                    <td>예문예문예문예문예문예문예문예문예문예문예문</td>
                                    <td>예문예문예문예문예문예문예문예문예문예문예문</td>
                                    <td><button>🗑</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <input type="button" class="btn-open-adding-card-modal" value="카드 추가">
                    </div>
                    <br>
                    <div>
                        <input type="button" class="btn-adding-deck" value="저장">
                        <input type="button" class="btn-close-modal" value="닫기">
                    </div>
                </form>
            </div>
        </div>




        <!-- 덱 불러오기 모달 -->
        <div class="modal_importing_deck">
            <div class="importing_deck">
                <form>
                    <label>덱이름 :
                        <input type="text" name="deckName" id="deckName_I2" placeholder="덱 이름을 입력해주세요">
                    </label>
                    <!-- 수정부분 -->
                    <label>카테고리 :
                        <select name="categoryId" id="categoryId_I2">
                            <option th:each="category : ${categoryList}" th:value="${category.categoryId}"
                                th:text="${category.categoryName}">
                                카테고리 명
                            </option>
                        </select>
                    </label>
                    <div class="card_list">
                        <table>
                            <thead>
                                <tr>
                                    <th>단어</th>
                                    <th>품사</th>
                                    <th>뜻</th>
                                    <th>예문</th>
                                    <th>예문 뜻</th>
                                    <th>삭제</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>단어</td>
                                    <td>품사</td>
                                    <td>뜻</td>
                                    <td>예문예문예문예문예문예문예문</td>
                                    <td>예문뜻뜻예문예문예문예문예문</td>
                                    <td><button>🗑</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <input type="button" class="btn-open-adding-card-modal" value="카드 추가">
                    </div>
                    <br>
                    <div>
                        <input type="button" class="btn-adding-deck" value="저장">
                        <input type="button" class="btn-close-modal" value="닫기">
                    </div>
                </form>
            </div>
        </div>

        <!-- 덱 편집 모달 -->
        <div class="modal_editing_deck">
            <div class="editing_deck">
                <form>
                    <label>덱 ID:
                        <input type="text" id="editDeckId">
                    </label>
                    <label>덱이름:
                        <input type="text" id="editDeckName">
                    </label>
                    <label>카테고리:
                    <select name="categoryId" id="categoryId_A2">
                            <option th:each="category : ${categoryList}" th:value="${category.categoryId}"
                                th:text="${category.categoryName}">
                                카테고리 명
                            </option>
                        </select>
                    </label>
                    <div>
                        <table class="edit_card_list">
                            <thead>
                                <tr>
                                    <th>삭제</th>
                                    <th>단어</th>
                                    <th>품사</th>
                                    <th>뜻</th>
                                    <th>예문</th>
                                    <th>예문 뜻</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- 카드 데이터 동적 추가 -->
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <input type="button" class="btn-open-adding-card-to-editing-deck" value="카드 추가">
                    </div>
                    <br>
                    <div>
                        <input type="button" class="btn-update-deck" value="수정 완료">
                        <input type="button" class="btn-close-modal" value="닫기">
                    </div>
                </form>
            </div>
        </div>

        <!-- 카드 추가 모달 -->
        <div class="modal_adding_card">
            <div class="adding_card">
                <h2>카드 추가</h2>
                <label>단어: <input type="text" id="cardWord"></label><br>
                <label>품사: <input type="text" id="cardPos"></label><br>
                <label>뜻: <input type="text" id="cardMeaning"></label><br>
                <label>예문 (일본어): <input type="text" id="cardExampleJp"></label><br>
                <label>예문 (한국어): <input type="text" id="cardExampleKr"></label><br>
                <input type="button" class="btn-create-example" value="예문 자동 완성"><br>
                <input type="button" class="btn-add-card-adding" value="추가">
                <input type="button" class="btn-close-modal" value="닫기">
            </div>
        </div>

        <!-- 카드 편집 모달 -->
        <div th:fragment="modal_editing_card" class="modal_editing_card">
            <div class="editing_card">
                <h2>카드 추가/편집</h2>
                <input type="hidden" id="editCardId"> <!-- 기존 카드 ID 저장 -->
                <label>단어: <input type="text" id="editCardWord"></label><br>
                <label>품사: <input type="text" id="editCardPos"></label><br>
                <label>뜻: <input type="text" id="editCardMeaning"></label><br>
                <label>예문 (일본어): <input type="text" id="editCardExampleJp"></label><br>
                <label>예문 (한국어): <input type="text" id="editCardExampleKr"></label><br>
                <input type="button" class="btn-create-example" value="예문 자동 완성"><br>
                <input type="button" class="btn-save-card" value="저장">
                <input type="button" class="btn-close-modal" value="닫기">
            </div>
        </div>

    </div> <!-- modal-wrap end -->
</body>

</html>